@use "./base.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
}

@media (max-width: $breakpoint-lg) {
  .container {
    width: 100%;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.relative {
  position: relative;
}

.active {
  color: $color-orange-1;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: bold;
}
