$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

$color-black-1: #1e1e1e;
$color-black-2: #212529;
$color-orange-1: #f48840;
$color-grey-1: #f7f7f7;
$color-grey-2: #eee;
$color-white-1: #ffffff;
