@use "../../../../styles/base.scss" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25rem;

  .leftContainer {
    width: 60%;
  }

  .rightContainer {
    width: 30%;
  }

  .marginBottom {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: $breakpoint-lg) {
  .wrapper {
    flex-direction: column;
    padding: 0 1rem;

    .rightContainer {
      width: 100%;
    }

    .leftContainer {
      width: 100%;
    }
  }
}
