@use "../../../styles/base.scss" as *;

.banner {
  background-size: cover;
  position: relative;

  .textContaienr {
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .title {
    color: $color-orange-1;
    letter-spacing: 0.5px;
    font-size: 1.125rem;
    margin-bottom: 0.938rem;
  }

  .heading {
    color: $color-white-1;
    font-size: 2.25rem;
    letter-spacing: 0.5px;
    font-weight: 700;
  }
}
