@use "../../../../styles/base.scss" as *;

.navbar {
  padding: 25px 0;
  background-color: $color-grey-1;

  .container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }

    h2 {
      color: #1e1e1e;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;

      em {
        font-size: 44px;
        font-style: normal;
        color: #f48840;
      }
    }

    .navbarCollapse {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        padding: 0rem 0.9rem;

        .redirectLink {
          text-transform: capitalize;
          font-size: 15px;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          color: #1e1e1e;
          transition: all 0.3s;
        }

        .redirectLink:hover {
          color: $color-orange-1;
        }
      }
    }

    @media screen and (max-width: $breakpoint-md) {
      .navbarCollapse {
        margin-top: 10px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: white;

        li {
          padding: 15px 0;
          text-align: center;
          border-bottom: 1px solid #eee;
          color: $color-black-1;
        }

        li:last-child {
          border-bottom: none;
        }
      }

      .hide {
        display: none;
      }
    }

    .navbarToggleIcon {
      display: none;
    }

    @media screen and (max-width: $breakpoint-md) {
      .navbarToggleIcon {
        display: block;
      }
    }
  }
}
